# SPDX-FileCopyrightText: The Bio++ Development Group
#
# SPDX-License-Identifier: CECILL-2.1

BasedOnStyle: Mozilla
Cpp11BracedListStyle: true
BreakBeforeBraces: Allman
NamespaceIndentation: All
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
CommentPragmas: ^\*
ColumnLimit: 120
